body{
    padding: 0;
    margin: 0;
}
.header {
    padding-top: 33px;
    text-align: center;
    background-image:url(../images/2.jpg);
    height: 150px;
    width: 1270px;
    color:rgb(121, 21, 4)
}
.header h2{font-size: 40px;}

h3 {color:tomato}

/* Style the top navigation bar */
.topnav{
    margin-bottom: 40px;
}
.topnav>ul {
    margin: 0px;
    padding: 0 10px;
    list-style: none;
    background-color: #34d657;
    height: 40px;
    text-align:left;
}
.topnav>ul>li>a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
.topnav>ul>a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.topnav>ul>li>a {
    float: left;
    margin: 0 5px;
}

.topnav>ul>li {
    position: relative;
    display: inline-block;
}
.topnav ul ul{
    position: absolute;
    display:none;
    overflow: hidden;
    padding:0px;
    margin:40px 5px;
    list-style:none;
    border-radius:3px;
    width:200px;
    background-color:white;
    box-shadow:0 0 1px gray;
}
.topnav ul ul a{
    display: block;
    line-height:30px;
    color:rgb(170, 102, 57);
    text-decoration:none;
    font-variant:small-caps;
    font-size:larger;
    padding:0 10px;
    margin-left:0px;
}
.topnav>ul>li:hover>ul {
    display: block;
}
.topnav ul ul a:hover {
    background-color: #abd6e4;
    color: rgb(27, 116, 231);
}

.topnav .search {
    line-height: 45px;
    float: right;
    margin-right: 50px;
    font-size: 20px;
    border: none;
}
.search{
    margin-top: -4px;
}

/* Thay đổi màu liên kết khi di chuột qua */
.topnav a:hover {
    background-color: #abd6e4;
    color: rgb(27, 116, 231);
}
.container{
    margin:0 auto;
}
.container > header{
    background-image: url(../images/dulichh.jpg);
    background-size:100% 100%;
    height:0px;
    padding-bottom:25%;
}
h1 {
    color: rgb(243, 218, 106);
    font-size:40px;
    position: relative;
    top: 120px;
    right: 30px;
    left: 20px;
    text-align: center;
    text-shadow: 0 0 40px rgb(241, 140, 140);
    font-variant: small-caps;
    font-family: Cambria;
}
.container header p{ 
    color: rgb(23, 7, 252);
    font-size: 20px;
    position: relative;
    top: 140px;
    right: 30px;
    left: 20px;
    text-align: center;
    font-variant: small-caps;
    font-family: Cambria;
}

.container > nav{
    line-height:40px;
    background-color:orangered;
    color:white;
    text-align:center;
    font-variant:small-caps;
}
.container > article{
    background-color:white;
}
.menu>ul {
    margin: 0px;
    padding: 0 10px;
    border-radius: 5px;
    list-style: none;
    background-color: rgb(118, 166, 221);
    height: 40px;
    text-align:center;
}
article p{
    font-size: 20px;
    text-align:justify;
}
article img {
    margin: 23px;
    padding-top: 10px;
    left: 100px;
    width: 200px;
    height: 200px;
    border-radius: 135px;
}
article img:hover {
    transform: scale(1.1);
}
article div img{
    width: 250px;
    height: 120px;
    border-radius: 0px;
    margin: auto;
    padding-left: 200px;
}
article div .right-column {
    float: right;
    width: 48%;
    margin-right: 10px;
    margin-left: 10px;
    text-align: justify;
}
article div .left-column {
    float: left;
    width: 48%;
    margin-left: 20px;
    text-align: justify;
}
footer{
    clear: right;
}
#footer {
    background: #34d657;
    width: 100%;
    height: 180px;
    color: rgb(14, 13, 13);
    clear: left;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    }
    
    #footer .tr1 {
    width: 25%;
    height: 100%;
    float: left;
    text-align: justify;
    margin-left: 100px;
    }
    
    #footer .ph1 {
    width: 25%;
    height: 100%;
    float: left;
    text-align: justify;
    }
    
    #footer .ph1 .H5 {
    margin-left: 20px;
    }
    
    #footer .ph2 {
    width: 35%;
    height: 100%;
    float: right;
    margin-left: -100px;
    border: 1px solid #ccc;
    border: none;
    text-align: justify;
    }
    
    #footer .ph1 a {
    color: rgb(252, 228, 192);
    }
    
    #footer .ph1 a:hover {
    color: white;
    }